name: Docs

on:
  push:
    branches:
      - main
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    branches:
      - main

jobs:
  docs:
    name: Build docs
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    # The maximum number of minutes to let a workflow run
    # before GitHub automatically cancels it. Default: 360
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5.4.0
        with:
          python-version: '3.12'

      - name: Install uv + Python 3.12
        id: setup-uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: '3.12'
          enable-cache: true
          cache-dependency-glob: |
            **/pyproject.toml
            **/uv.lock

      - name: Install dependencies
        run: uv sync --locked --no-default-groups --group docs

      - name: Build and test package documentation
        run: make docs

      - name: Archive docs artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs
          # Artifacts are retained for 90 days by default.
          # In fact, we don't need such long period.
          retention-days: 7
